*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-txt-color: rgb(4, 135, 139);
    --main-btn-bg-color: rgb(4, 135, 139);
    --main-btn-txt-color: #FFF;
}

body{
    background: rgba(214, 214, 214, 0.416);
}

header{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
    height: 100%;
    background-color: #e6e4e4;
}

.logo{
    margin-top: 2rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.sidebar{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #e6e4e4;
    color: #000;
}


.links{
    width: 50%;
    list-style: none;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: monospace;
    text-align: center;
}

.item{
    margin-bottom: 1.25rem;
    border: 1px solid gray;
    border-radius: 20px 0 17px 0;
    background: gray;
    cursor: pointer;
}

.content{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    color: #000;
    margin-left: 20rem; 
}

.actions{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    height: 100%;
}

.menu_actions{
    list-style: none;
    margin-top: 1rem;
}

.item_actions{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    width: 2rem;
    height: 2rem;
    background: #000;
    border-radius: 50%;
    margin: .5rem 1rem 0 0;
    cursor: pointer;
}

.menu_actions :active{
    transform: scale(1.25, 1.25);
}


.content-home{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.content-text{
    width: 65%;
    margin-left: 2rem;
    margin-right: 3rem;
}

.content-text > p{
    font-family: monospace;
    font-size: 18px;
    font-weight: 600;
    text-align: justify;
}

.content-text > h2{
    margin-bottom: 10px;
}

.content-text > h1{
    margin-bottom: 10px;
}

.name{
    font-family: 'Courier New', Courier, monospace;
    color: var(--main-txt-color)
}

.profision{
    font-family: 'Courier New', Courier, monospace;
    color: var(--main-txt-color)
}


.content-image{
    background-color: red;
    width: 40%;
    height: 300px;
    margin-right: 2rem;
}

.bord-image{
    width: 100%;
    height: 100px;
}

.btn-about{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-btn-bg-color);
    color: var(--main-btn-txt-color);
    width: 200px;
    height: 40px;
    border-radius: 20px 20px 20px 20px;
    margin-top: 3rem;
    font-weight: 600;
}

.content-about{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin-top: 3rem;
    margin-left: 1rem;
}

.content-text-about{
    width: 95%;
    font-family: monospace;
    font-size: 14px;
    font-weight: 600;
    text-align: justify;
    margin-top: 2rem;
}

.content-text-about-name{
    margin-bottom: 1rem;
}

.content-about-profile{
    width: 100%;
    height: auto;
    margin-top: 2rem;
}

.content-about-profile-data{
    display: flex;
    flex-direction: row;
    width: 95%;
    height: auto;
}

.content-about-profile-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:60%;
    height: auto;
}

.content-about-profile-list-data{
    list-style: none;
}

.content-about-profile-list-item{
    font-size: 14px;
    font-family: monospace;
    font-weight: 600;
    margin-bottom: 1rem;
    border-bottom: 1px black solid;
}

.content-about-profile-progress{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.timeline{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container{
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left{
    left: 0;
}

.right{
    left: 50%;
}

.left::before{
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* ADD arrows to the right */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;

}

.right::after{
    left: -16px;
}

.content-timeline{
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    .left::after, .right::after {
    left: 15px;
    }
    
    .right {
    left: 0%;
    }
  }